@model IEnumerable<LoanCalculatorWebApp.Models.LoanData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyBill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfLoan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanTerm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestRates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthlyBill)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
    <div />
    <a asp-action="Snowball">Debt Snowball Method</a>
    <div />
    <a asp-action="Avalanche">Avalanche Method</a>
    <div />
    <a asp-action="UserSortOptions">Sort On Your Own</a>

</p>
