@model IEnumerable<LoanCalculatorWebApp.Models.LoanData>

@{
    ViewData["Title"] = "UserSortedOptionsResults";
}

<h1>UserSortedOptionsResults</h1>

<p>
    <a asp-action="UserSortOptions">Create New Sort List</a>
    <a asp-action="Index">Back To List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyBill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfLoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanTerm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyBill)
            </td>

        </tr>
}
    </tbody>
</table>
